.card-swap-container {
  /* position: absolute; */
  /* top: 25%;
  right: 10%; */
  transform-origin: bottom right;
  perspective: 900px;
  overflow: visible;
  margin-bottom: 10px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 1024px) {
  .card-swap-container {
    transform: scale(0.5);
  }
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.35);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.5);
  }
}

@media (max-width: 360px) {
  .card-swap-container {
    transform: scale(0.25);
  }
}
